.border-bottom {
  border-bottom: 1px solid #aaa;
}

.border-top {
  border-top: 1px solid #aaa;
}

.action-wrapper {
  .action-node-wrapper {
    padding-left: 20px;
    .action-node {
      .title{
        border-bottom: 1px solid #aaa;
        padding-bottom:10px;
      }
    }
  }
  >.action-node-wrapper {
    padding-left: 10px;
  }
  .action-node{
    padding-left:0;
    padding-right:0;
    cursor: pointer;
  }
}

.nopadding-right {
  padding-right: 0;
}
