<header>{{ actionNode.name }}</header>
<p>{{ actionNode.title }}</p>
<p>{{ actionNode.description }}</p>
<p>{{ actionNode.content }}</p>
<p>{{ actionNode.children.length > 0 ? actionNode.children : "No children" }}</p>
<p>{{ actionNode.duration_type }}</p>
<p>{{ actionNode.type }}</p>
<p>{{ actionNode.last_updated }}</p>
<p>{{ actionNode.active }}</p>
<form class="action-node" ng-submit="deleteAction(actionNode)">
  <input class="btn btn-primary" type="submit" value="Delete">
</form>
<!-- <div ng-repeat="child in actionNode.children"> -->
<div ng-repeat="child in actionNode.children"  ng-if="actionNode.children.length > 0">
  <action-directive action-ID="child" action-list="actionList" />
</div>