.action-wrapper {
  padding-left: 30px;
  .action-node {
    h3 {
      border-bottom: 1px solid #aaa;
    }
    h5 {
      font-style: italic;
    }
  }
}
.action-list
{
	>.action-wrapper{
		padding-left:0;
	}
}